body {
  margin: 0;
}
* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.blockMain {
  background-image: url(./static/pictures/website\ background.jpg);
  height: 100vh;
  object-fit: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainText {
  font-style: italic;
  text-decoration: underline;
  font-size: 24px;
  margin: 15px 0 15px 0;
}
.blockTransparent {
  background-color: #ffffff7d;
  width: 80%;
  height: 800px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 15px;
  overflow: auto;
}

.blockTransparent::-webkit-scrollbar {
  width: 5px;
}

.blockTransparent::-webkit-scrollbar-thumb {
  background-color: #507e50;
  border-radius: 5px;
}

.cart {
  width: 330px;
  height: 150px;
  background-color: #91ad91;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.blockBtn {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 200px;
}

.inputString {
  width: 310px;
}

.text {
  font-size: 15px;
}

.card {
  background-color: rgb(162, 233, 191);
  width: 300px;
  height: 150px;
  margin: 5px;
  border-radius: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.blockCartandCard {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.card-green {
  width: 330px;
  height: 150px;
  background-color: #68db68;
  border-radius: 10px;
  padding: 5px;
  margin: 0;
}
.card-red {
  width: 330px;
  height: 150px;
  background-color: #e95151;
  border-radius: 10px;
  padding: 5px;
  margin: 0;
}
.card-yellow {
  width: 330px;
  height: 150px;
  background-color: #d2ec3f;
  border-radius: 10px;
  padding: 5px;
  margin: 0;
}

.blockSelect {
  width: 200px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
